@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    @apply w-2 h-2
}

::-webkit-scrollbar-track {
    @apply bg-slate-900/[0.1]
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-900/[0.2] rounded-full
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-900/[0.4]
}

::-webkit-scrollbar-corner {
    @apply bg-slate-900/[0.1]
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        @apply bg-slate-200/[0.1]
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-slate-200/[0.2] rounded-full
    }
    
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-200/[0.4]
    }
    
    ::-webkit-scrollbar-corner {
        @apply bg-slate-200/[0.1]
    }
}

@keyframes spawn-zoom {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes show-up {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes show-down {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes show-left {
    0% { opacity: 0; transform: translateX(20px); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes show-right {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}

.spawn-zoom {
    animation: spawn-zoom 100ms ease-in-out forwards;
}

.despawn-zoom {
    animation: spawn-zoom 100ms ease-in-out reverse forwards;
}

.show-up {
    opacity: 0;
    animation: show-up 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.8) forwards;
}
.show-down {
    opacity: 0;
    animation: show-down 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.8) forwards;
}
.show-left {
    opacity: 0;
    animation: show-left 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.8) forwards;
}
.show-right {
    opacity: 0;
    animation: show-right 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.8) forwards;
}

.backdrop-blur {
    backdrop-filter: blur(32px);
    @apply bg-slate-200/[0.4] dark:bg-slate-900/[0.4];
}

@media (prefers-color-scheme: dark) {
    .bgi {
        background-image: url('/assets/background-dark.svg');
        background-size: cover;
    }
}
@media (prefers-color-scheme: light) {
    .bgi {
        background-image: url('/assets/background-light.svg');
        background-size: cover;
    }
}

.all-white {
    filter: brightness(0) invert(1);
}